
body {
    background-color: black;
    font-family:Source Sans Pro;
    font-weight:300;
    color: white;
}
h1 {
    font-family:Source Sans Pro;
    font-weight:900;
    color: white;
}
p {
    font-size: 1.3rem
}
a:link {
    color:deepskyblue;
    text-decoration:none;
}
a:visited {
    color:goldenrod;
}
a:hover {
    color:white;
}
a:active {
    color:goldenrod;
}
.mt-10 {
    margin-top: 6rem !important;
}
.article-body-space {
    margin-top: 3rem;
    margin-bottom: 3rem;
}